@keyframes charwave {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-12px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(0);
  }
}

.letter-wave {
  animation-name: charwave;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}